<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
  <meta name="robots" content="noindex,nofollow">
  <title>{{ page_title }}</title>
  {{ content_for_header }}
</head>
<body style="margin:0;padding:0;background:#111">
  {{ content_for_layout }}
</body>
</html>
